<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="add-contact-container">
    <form (ngSubmit)="addContact()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="fullName" name="fullName" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="phone" name="phone" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color="secondary" [disabled]="!fullName || !phone">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Agregar Contacto
      </ion-button>
    </form>
  </div>
</ion-content>